---

- name: Configure logrotate
  template:
    src: bacula.logrotate.j2
    dest: /etc/logrotate.d/bacula.conf
    owner: root
    group: root
    mode: 0640
  notify:
    - Bacula-storage restarted
  no_log: "{{ bacula_no_log|bool }}"
