    {% if bacula_messages_telegram_enabled|bool %}
    RunScript {
      Command = "/etc/bacula/scripts/_send_telegram.sh %i"
      RunsWhen = After
      RunsOnFailure = {{ bacula__default__messages_telegram_onfailure }}
      RunsOnClient = no
      RunsOnSuccess ={{ bacula__default__messages_telegram_onsuccess }}
    }
    {% endif %}