
###
### Schedules
###

Schedule {
  Name = "{{ item.name }}-DailyFI-Weekly"
  Run = Full sun at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
  Run = Incremental mon-sat at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
}

Schedule{
  Name = "{{ item.name }}-DailyFDI-Biweekly"
  Run = Level=Full 1st,3rd sun at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
  Run = Level=Differential 2nd,4th,5th sun at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
  Run = Level=Incremental mon-sat at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
}

Schedule{
  Name = "{{ item.name }}-DailyFDI-Monthly"
  Run = Level=Full 1st sun at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
  Run = Level=Differential 2nd,3rd,4th,5th sun at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
  Run = Level=Incremental mon-sat at {% if policy.hour|d() %} {{ policy.hour }} {% else %} {{ [1,2,3,4]|random }}:00 {% endif %}
}